<div style="display: flex; justify-content: center; margin-top: 50px; font-size: 35px;" class="text">
    <h1 class="text-h1">Какие каналы я покупаю?</h1>
 </div>
 
 <div class="container">
     <button class="pervaia blok">
         <h2 class="h2-ot-100 ">От 100 тысяч просмотров и 700 подписчиков (с монетизацией и без)</h2>
         <div class="img-div">
         <img class="img-peopel" src="/assets/svg/peopel.png" alt="">
         </div>
        </button>
     <button class="vtaraia blok">
         <h2 style=" padding: 20px;" class="text-2blok ">С монетизацией <br>
              (без накрутки)</h2>
         <div class="img-div2">
         <img class=" img-many" src="/assets/svg/many.png" alt=""
         >
         </div>
     </button>
     <button class="tretaia blok">
         <h2 class="text-3blok text-border">Любые каналы  от 10 тысяч  подписчиков</h2>
         <div class="img-div2">
          <img class="img-sub" style="margin-left: 25px;" src="/assets/svg/subs.png" alt=""
         >
         </div>
     </button>
 </div>
 