<div class="container">
    <div class="container-content">
    <div class="svg">
        
        <img class="img-nik" src="/assets/svg/youtube.svg" alt=""
        width="100px"
        height="auto"
    >
        <span class="nik" style=" color: rgb(148, 147, 147);">покупаю ютуб каналы<br>
             продажа каналов</span>
    </div>
      
    <div field="tn_text_1674907050164" >
     <span> {{email}} <br>
        <hr>
        © Все права защищены 2024
     </span>
    </div>

    <div>
       <a href="https://teletype.in/@cocktail_prod/QYdwxTQlmVj">Политика конфиденциальности</a>
    </div>
    </div>
</div>
