<div class="container">
    <div class="svg">
        
        <img class="img-nik" src="/assets/svg/youtube.svg" alt=""
        width="130px"
        height="auto"
    >
        <h1 class="nik" style=" color: rgb(148, 147, 147); margin-left: 10px;">покупаю ютуб каналы<br>
             продажа каналов</h1>
    </div>
      
    <div>
     <h2 >ytbuyerbagratgmail.com <br>
        <hr>
        © Все права защищены 2024
     </h2>
    </div>

    <div>
       <a routerLink="#">Политика конфиденциальности</a>
    </div>
</div>
