<div class="conteiner124">
    <div class="svg">
        <img class="img-nik" src="/assets/svg/youtube.svg" alt="">
        <h1 class="nik" style="color: rgb(148, 147, 147); margin-left: 10px;">покупаю ютуб каналы<br> продажа каналов</h1>
    </div>
    <div class="menu-icon" (click)="toggleMenu()">
         <img src="assets/svg/burger.svg" alt=""
         width="40px"
         height="40px">
    </div>
         

    <div class="nav-text" [ngClass]="{'active': isMenuOpen}">
        <span> <a href="#section1" (click)="onNavClick($event, 'section1')">НАЧАЛО</a></span>  
        <span> <a href="#section2" (click)="onNavClick($event, 'section2')" >ОБО МНЕ</a></span>  
        <span> <a href="#section3" (click)="onNavClick($event, 'section3')" >КАНАЛЫ</a></span>  
        <span> <a href="#section4" (click)="onNavClick($event, 'section4')" >ПРЕИМУЩЕСТВА</a></span>  
        <span> <a href="#section5" (click)="onNavClick($event, 'section5')" >ОТЗЫВЫ</a></span>  
        <span> <a href="#section6" (click)="onNavClick($event, 'section6')" >ЗАРАБОТАЙ</a></span>  
        <span> <a href="#section7" (click)="onNavClick($event, 'section7')" >РЕСУРСЫ</a></span>  
       
    </div>
</div>
<div id="section1" class="container">
    <div class="text">
      <h1 class="zagalovok">Продай свой  Youtube канал  выгодно!</h1> 
      <br>
      <p class="p-text" style=" color: rgb(63, 62, 62);">Куплю ваши Youtube каналы на выгодных условиях</p>
   </div>
    <div class="img-container">
     <img class="img-me" src="/assets/img/bagrat.png" alt=""
     width="850px"
     height="500px">
    </div>
 </div>



