
<div class="conteiner124">
    <div class="svg">
        <img class="img-nik" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsbIuITAKrSkdiJyQPt5-J1NFHLTkXbDOMrA&s" alt=""
    >
        <h1 class="nik" style=" color: rgb(148, 147, 147); margin-left: 10px;">покупаю ютуб каналы<br>
             продажа каналов</h1>
    </div>
    <div class="nav-text">
        <span>НАЧАЛО</span>  
        <span>ОБО МНЕ</span>
        <span>КАНАЛЫ</span>
        <span>ПРЕИМУЩЕСТВА</span>
        <span>ОТЗЫВЫ</span>
        <span>ЗАРАБОТАЙ</span>
        <span>РЕСУРСЫ</span>
    </div>
</div>
<div class="container">
    <div class="text">
      <h1 class="zagalovok">Продай свой <br> youtube канал <br> выгодно!</h1> 
      <br>
      <p class="p-text" style=" color: rgb(63, 62, 62);">Куплю ваши youtube каналы на выгодных <br> условиях</p>
   </div>
    <div class="img-container">
     <img class="img-me" src="https://bcw-media.s3.ap-northeast-1.amazonaws.com/yce_ai_anime_topbanner_mb_01_a51ba67c67.jpg" alt=""
     width="850px"
     height="550px">
    </div>
 </div>



