
.conteiner124 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    gap: 20%;
    border-bottom: 1px solid rgb(225, 224, 224);
    position: fixed;
    background: white;
    z-index: 1000;
    font-family: 'Uni Sans', sans-serif;
}



.img-nik {
    width: 55px;
    height: auto;
}

span {
  
    cursor: pointer;
    font-weight: 600;
}

a{
  text-decoration: none;
  color: black;
}

span:hover {
    color: red;
    transition: all 0.5s ease;
}

a:hover {
  color: red;
  transition: all 0.5s ease;
}

.nik {
    cursor: pointer;
    font-size: 15px;
}

.svg {
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: black;
    font-size: 15px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}

.p-text{
    font-size: 20px;
}

.container {
    display: flex;
     justify-content: center;
     gap: 15%;
    align-items: center;
    height: 100vh;
    
  }
  
 .zagalovok{
    font-size: 84px;
    margin: 0;
  }
  
  .img-me {
  background-color: aqua;
    margin-top: 20px;
  }
  
  .text {
    
    font-family: 'Roboto', Arial, sans-serif; 
  }



   @media (min-width: 300px) and (max-width: 1000px) {
    span{
        font-size: 6px;
    }

    .nik{
        font-size: 6px;
    }

   .img-nik{
        width: 40px;
        height: 40px;
    }

    .nav-text{
        display: flex;
        gap: 10px;

    }


    .conteiner124{
        height: 40px;
        display: flex;
        background-color: white;
        justify-content: space-between;
    } 

        .zagalovok {
          font-size: 37px;
          
        }
      
         .img-me {
          width: 60%;
          height: auto;
          margin-left: 0;
           margin-top: 0;
        } 

       .p-text{
        font-size: 27px;
       }

        .container {
          flex-direction: column; 
          text-align: center;
          justify-content: center;
          gap: 70px;
          width: 100%;

        }
      
        .text {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            margin-left: 0; 
        }
      


       @media (min-width: 320px) and (max-width: 339px) {
          .zagalovok{
            font-size: 40px;
          }

            .img-me {
             width: 60%;
             height: auto;
          }  
          .container{
            display: flex;
            gap: 70px;
          } 
       }


        @media (min-width: 340px) and (max-width: 356px){
             .img-me {
                width: 60%;
                height: auto;
               
              }  
              
               

               .container{
                display: flex;
                gap: 50px;
              } 
        }

        @media (min-width: 357px) and (max-width: 380px){
              .img-me {
                width: 200px;
                height: auto;
               
              }   
                
              .zagalovok{
                font-size: 45px;
              }
              

              .p-text{
                 font-size: 30px;
              }

               .container{
                display: flex;
                gap: 30px ;
              } 
        } 

        @media (min-width: 380px) and (max-width: 384px)  {
              .container{
                display: flex;
                gap: 50px;
              }

                
              .zagalovok{
                font-size: 45px;
              }
              

              .p-text{
                 font-size: 30px;
              }
        }

        @media (min-width: 385px){
              .img-me{
                width: 45%;
                height: auto;
             } 

             .zagalovok{
                margin-top: 30px;
             }

             .container{
                display: flex;
                gap: 40px;
             } 
        }

        @media (min-width: 390px) and (max-width: 460px)  {
            /* .img-me {
                width: 390px;
                height: 220px;
               
              }  */

              .zagalovok{
                font-size: 49px;
              }

              .p-text{
                font-size: 31px;
              }

            
        }

        @media (min-width: 409px)  { 
            .p-text{
                font-size: 34px;
            }

        }

        @media (min-width: 460px) and (max-width: 1000px)  {
            /* .img-me {
                width: 450px;
                height: 240px;
               
              }  */

              .zagalovok{
                font-size: 49px;
              }
              
              .p-text{
                font-size: 35px;
                padding-left: 25px;
              }
              
             .container{
                gap: 10px;
             }
        }

        @media screen and (max-width: 768px) {
          .menu-icon {
              display: flex;
            
          }

          .svg{
            padding-left: 10px;
          }

          .conteiner124{
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
      
          .nav-text {
              display: none;
              flex-direction: column;
              width: 100%;
              position: absolute;
              top: 35px;
              gap: 0px;
              left: 0;
              background-color: white;
              border-top: 1px solid rgb(225, 224, 224);
            
              padding: 20px 0; 
              border: 1px solid rgb(225, 224, 224);
          }
      
          .nav-text span {
              margin: 5px 0;
              padding: 5px 0;
              width: 100%;
              font-size: 12px;
              padding-left: 10px;
          }
      
          .nav-text.active {
              display: flex;
          }
      }
  } 

