.container-about{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: black;
}

.title{
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
}

.img-div{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    position: relative;
    justify-content: center;
}

.img-1{
    position: absolute;
    bottom: 200px;
    border: 7px solid white;
    height: 300px;
    width: 300px;
}


.img-3{
    position: absolute;
    top: 200px;
    border: 7px solid white;
    height: 300px;
    width: 300px;
}

.img-2{
   margin-left: 200px;
   border: 7px solid red;
   width: 450px;
   height: 350px;
}

.text-about{
    padding: 30px;
    color: rgb(165, 163, 163);
}


 @media (min-width: 300px) and (max-width: 1000px) {
    h3{
       font-size: 11px;
       text-align: center;
    }

    .title{
        height: 70px;
        font-size: 15px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 8px;
    }

    .text-about{
        display: flex;
        justify-content: center;
        padding: 0px;
        height: auto;
        width: 97%;
    }
   .container-about{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
   }

   .img-div{
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 5px;
    width: 100%;
    height: 170px;
     gap: 25px;
    
   }


   .img-1{
      top: 0px; 
      left: 10px;
       height: 120px;
       width: 120px;
       border: 4px solid white;
    
   }

   .img-2{
       width: 130px;
       height: 110px;
       margin-left: 0px;
       border: 4px solid red;
   }

   .img-3{
       top: 0;
       right: 10px;
       width: 120px;
       height: 120px;
       border: 4px solid white;
   }

} 

@media (min-width: 360px) {
 
    .img-div{
        padding: 15px;
        height: 200px;
    }


    .img-1{
        left: 17px;
        width: 140px;
        height: 140px;
    }

    .img-3{
        right: 17px;
        width: 140px;
        height: 140px;
    }

   
  
     .img-2{
         width: 150px;
         height: 140px;
     }
  
   h3{
    font-size: 12px;
   }
} 

@media (min-width: 410px) {
      
    h3{
        font-size: 13px;
    }


    .img-div{
        height: 230px;
        padding: 20px;
    }


    .img-3{
       right: 20px;
        width: 150px;
        height: 150px;
    }

    .img-1{
        left: 20px ;
        width: 150px;
        height: 150px;
    }

   
  
     .img-2{
         width: 160px;
         height: 150px;
     }
  
} 

@media (min-width: 460px) {
      
      h3{
        font-size: 13px;
      }
     
     .img-1{
        left: 27px;
     }

     .img-3{
        right: 27px;
     }

} 

@media (min-width: 490px) {
 
     h3{
        font-size: 14px;
     }
    
    .img-1{
       left: 35px;
    }

    .img-3{
       right: 35px;
    }

} 

@media (min-width: 530px) {


    .img-div{
        height: 250px;
        padding: 20px;
    }

    .img-3{
        width: 170px;
        height: 170px;
    }

    .img-1{
        width: 170px;
        height: 170px;
    }

   
  
     .img-2{
         width: 180px;
         height: 170px;
     }

}  

