

<div class="h1-teg">
    <h2 class="h2-zagalovok">Преимущества работы со мной</h2>
</div>

<div id="section4" class="container">
    <div class="own-blok blok">
        <h2 class="text-img">БЫСТРО</h2>
        <h3>С ноября 2022 года я купил более 300 Youtube каналов. Поэтому имею большой опыт в передаче Youtube каналов. Я умею грамотно перевязывать Google аккаунт и могу делать это быстро. Знаю также все тонкости передачи канала брендом, даю подробную инструкцию как создать бренд и передать права на канал. Поэтому сделка может реально пройти быстрее чем м5 ф90 (шутка конечно)</h3>
        <img class="img" src="/assets/img/otzivi-1.png" alt="Быстро">
    </div>
    <hr>
    <div class="two-blok blok">
        <h2 class="text-img">ВЫГОДНО</h2>
        <h3 class="text-vigodna">Работаю со многими способами оплаты. Благодаря большому опыту хорошо разбираюсь в платежных системах. Предлагаю хорошие цены за Youtube каналы, могу перебить по цене других скупщиков. Самый крупный канал обошелся мне в 3750$, так что я могу брать как дешевые, так и дорогие каналы. Свободного капитала много, я могу покупать на постоянной основе.</h3>
        <img class="img" style="margin-top: 40px;" src="/assets/img/otzivi-2.png" alt="Выгодно">
    </div>
    <hr>
    <div class="third-blok blok">
        <h2 class="text-img">БЕЗОПАСНО</h2>
        <h3>С декабря 2023 года по июнь 2024 года было куплено каналов на сумму около 37000$. В июле я провел самую большую сделку на доверии ко мне, продавец канала вначале передал мне полностью свои Youtube каналы и после этого я отправил 2200$ в качестве оплаты. У меня куча реальных отзывов, подробнее в следующем блоке этого сайта. Также я готов работать через популярных гарантов, если у вас не хватает доверия ко мне.</h3>
        <img class="img" src="/assets/img/otzivi-3.png" alt="Безопасно">
    </div>
</div>