<div class="only-container">
  <h2>
    <span>ОТЗЫВЫ</span> О НАШЕЙ РАБОТЕ
  </h2>
  <div id="section5" class="container swiper">
    <div class="swiper-wrapper card-list">
      <div class="swiper-slide">
        <img src="/assets/img/telefon1.png" alt="Телефон 1" />
      </div>
      <div class="swiper-slide">
        <img src="/assets/img/telefon2.png" alt="Телефон 2" />
      </div>
      <div class="swiper-slide">
        <img src="/assets/img/telefon3.png" alt="Телефон 3" />
      </div>
      <div class="swiper-slide">
        <img src="/assets/img/telefon4.png" alt="Телефон 4" />
      </div>
      <div class="swiper-slide">
        <img src="/assets/img/telefon5.png" alt="Телефон 5" />
      </div>
      <div class="swiper-slide">
        <img src="/assets/img/telefon6.png" alt="Телефон 6" />
      </div>
      <div class="swiper-slide">
        <img src="/assets/img/telefon7.png" alt="Телефон 7" />
      </div>
      <div class="swiper-slide">
        <img src="/assets/img/telefon8.png" alt="Телефон 8" />
      </div>
    </div>
    <div class="swiper-button-prev" style="color: rgb(255, 29, 86);"></div>
    <div class="swiper-button-next" style="color: rgb(255, 29, 86);"></div>
  </div>
  <div class="text-about">
    <span>Еще больше отзывов в моем <a href="https://t.me/+PBYajaTc7WsyMjE6">Telegram канале</a></span>
    <hr />
  </div>
 </div>
  