
    <h2> <h3 style="color: rgb(255, 29, 86);  font-size: 30px; display: inline-block;">ОТЗЫВЫ</h3> О моей РАБОТЕ</h2>
  <div class="container swiper">
      <div class="card-list swiper-wrapper">
        <div class="item swiper-slide">
          <img
            src="/assets/img/telefon1.png"
            alt=""
        
          />
        </div>
        <div class="item swiper-slide">
          <img
            src="/assets/img/telefon2.png"
            alt=""
        
  
          />
        </div>
  
        <div class="item swiper-slide">
          <img
            src="/assets/img/telefon3.png"
            alt=""
          />
        </div>
  
        <div class="item swiper-slide">
          <img
            src="/assets/img/telefon4.png"
            alt=""
          />
          
        </div>
  
        <div class="item swiper-slide">
          <img
            src="/assets/img/telefon5.png"
            alt=""
          />
        </div>
  
        <div class="item  swiper-slide">
          <img
            src="/assets/img/telefon6.png"
            alt=""
          />
        </div>
        <div class="item  swiper-slide">
          <img
            src="/assets/img/telefon7.png"
            alt=""
          />
        </div>
        <div class="item  swiper-slide">
          <img
            src="/assets/img/telefon8.png"
            alt=""
          />
        </div>
  </div>
    <!-- <div style=" color:rgb(255, 29, 86) ; border: none; background-color: rgb(255, 29, 86);" class="swiper-pagination"></div> -->
    <div style="color: rgb(255, 29, 86);" class="swiper-button-prev"></div>
    <div style="color: rgb(255, 29, 86);" class="swiper-button-next"></div>
  </div>
  <br>
  <br>
  <div  class="text-about">
     <span>Еще больше отзывов в моем <a href="https://t.me/+PBYajaTc7WsyMjE6">Telegram канале</a> </span>
     <hr>
  </div>

  
